<!-- Login partial to display links on nav bar -->
<!-- Logged in -->
<div class="navbar-nav" asp-condition="@User.Identity.IsAuthenticated">  
    <div class="nav-item text-dark dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-person-circle"></i> @User.Identity.Name
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-controller="User" asp-action="EditProfile"><i class="bi bi-gear"></i> Update Profile</a>
            <a class="dropdown-item" asp-controller="User" asp-action="UpdatePassword"><i class="bi bi-lock-fill"></i> Update Password</a>
            <hr class="dropdown-divider">
            <form asp-controller="User" asp-action="Logout">
                <button type="submit" class="dropdown-item btn btn-link text-dark"><i class="bi bi-door-open"></i> Logout</button>
            </form>
        </div>
    </div>         
</div>

<!-- Not Logged in -->
<div class="navbar-nav" asp-condition="@(!User.Identity.IsAuthenticated)">
    <a class="nav-link text-dark bi bi-box-arrow-in-right"  asp-controller="User" asp-action="Login">Login</a>
    <a class="nav-link text-dark bi bi-person-plus"  asp-controller="User" asp-action="Register"> Register</a>
</div>





