@model Student

@if (Model.Tickets.Count == 0)
{
    <h5>No tickets yet....</h5>
}
else
{
    <div class="card rounded shadow">
        <table class="table table-sm">
            <thead>
                <tr>           
                    <th>Ticket Issue</th>
                    <th>Created</th>  
                    <th>Active</th>       
                    <th>Actions</th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var t in Model.Tickets) {
                    <tr>              
                        <td>@t.Issue</td>
                        <td>@t.CreatedOn</td>  
                        <td>
                            @if (@t.Active) 
                            {
                                <i class="bi bi-toggle-on"></i>
                            }
                            else
                            {
                                <i class="bi bi-toggle-off"></i>
                            }
                        </td>
                        <td>
                            <a asp-action="TicketDelete" asp-route-id="@t.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}