<!DOCTYPE html>
<head>
    <title>The Good Food Atlas</title>
    <meta name ="viewport" content="="width=device-width, initial-scale="1.0">
    <meta charset="utf-8">
    
    <style>
            
        .recipeimage {
            width: 175px;
            height: 175px;
            object-fit: cover;
            border-radius: 10%; 
            margin: 20px auto 20px auto;
            display: block;
        }

        .card-deck {
            
            margin-top: 10px;
            margin-left: auto;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: .5rem;
        }

        a {
        color: #000;
        }


        input[type="radio"]{
            background-color: white;
            border:1px solid red;
        }

    </style>

</head>
