@model RecipeCreateViewModel

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/recipe", "Recipes"), ("","Create") })>

<h3 class="mt-4 mb-4">Create Recipe</h3>

<div class="card rounded shadow p-3">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mt-3">
        <label asp-for="UserId" class="form-label"></label>      
        <select asp-for="UserId" class="form-control" 
                asp-items="@Model.Users"))">
            <option>Select User</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="Name" class="form-label"></label>      
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>       
    </div>

    <div class="mt-3">
        <label asp-for="Diet" class="form-label"></label>      
        <input asp-for="Diet" class="form-control"/>
            <span asp-validation-for="Diet" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="MealType" class="form-label"></label>      
        <input asp-for="MealType" class="form-control"/>
        <span asp-validation-for="MealType" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="Method" class="form-label"></label>      
        <textarea readonly rows="15" asp-for="Method" class="form-control"></textarea>       
    </div>

    <div class="mt-3">
        <label asp-for="PrepTime" class="form-label"></label>      
        <input asp-for="PrepTime" class="form-control"/>
        <span asp-validation-for="PrepTime" class="text-danger"></span>       
    </div>

    <div class="mt-3">
        <label asp-for="CookTime" class="form-label"></label>      
        <input asp-for="CookTime" class="form-control"/>
        <span asp-validation-for="CookTime" class="text-danger"></span>       
    </div>

    <div class="mt-3">
        <label asp-for="Cuisine" class="form-label"></label>      
        <input asp-for="Cuisine" class="form-control"/>
        <span asp-validation-for="Cuisine" class="text-danger"></span>       
    </div>

    <div class="mt-3">
        <label asp-for="Region" class="form-label"></label>      
        <input asp-for="Region" class="form-control"/>
        <span asp-validation-for="Region" class="text-danger"></span>       
    </div>

    <div class="mt-3">
        <label asp-for="Translator" class="form-label"></label>      
        <input asp-for="Translator" class="form-control"/>
        <span asp-validation-for="Translator" class="text-danger"></span>       
    </div>

    <div class="mt-3">
        <label asp-for="Calories" class="form-label"></label>      
        <input asp-for="Calories" class="form-control"/>
        <span asp-validation-for="Calories" class="text-danger"></span>       
    </div>

    <div class="mt-3">
        <label asp-for="Servings" class="form-label"></label>      
        <input asp-for="Servings" class="form-control"/>
        <span asp-validation-for="Servings" class="text-danger"></span>       
    </div>

    <div class="mt-3">
            <label asp-for="PhotoUrl" class="form-label"></label>
            <input type="url" asp-for="PhotoUrl" class="form-control"/>
            <span asp-validation-for="PhotoUrl" class="text-danger"></span>
        </div>

    <div class="mt-3">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>

</form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}