@model RecipeSearchViewModel

<partial name = "_ViewLayouts"> 
<partial name= "_RecipeLayout">  

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("","Recipes"), ("", "My Recipes"), ("","Search") })/>
<h3><b class= "navbar-title mb-3"> My Recipes</b></h3>

 <div class="my-4 d-flex flex-row justify-content-between align-items-center">  
   <a asp-condition=@(User.IsInRole("member")) class="btn btn-sm btn-danger my-3" title="Create Recipe" asp-action="Create" >
      <i class="bi bi-plus"></i> Create Recipe
   </a>    
   <partial name="_MySearch" />
</div> 

      <div class="card-deck">
         @foreach (var r in Model.Recipes) 
         {
            <div class="row row-cols-1 row-cols-md-3">
               <div class= "card text-center mb-3 bg-light shadow-lg" style="width:18rem;">
                <img class="recipeimage card-img-top img-responsive" src="@r.PhotoUrl" alt= "">
                  <div class="card-body">
                  <h4 class="card-title">
                     @r.Name
                  </h4>

                  <p class = "card-text">
                     @r.Translator
                  </p>

                   <p class = "card-text">
                     @r.Cuisine
                  </p>
            </div>

            <div class="card-footer shadow-lg text-muted">
               <a asp-controller="Recipe" title="Edit Recipe" asp-action="Edit" asp-route-id=@r.Id><i class="bi bi-pen"></i></a>
               <a asp-action="Details" title="Recipe Details" asp-route-id=@r.Id><i class="bi bi-info-circle"></i></a>
               <a asp-controller="User" title="Delete Recipe" asp-action="RecipeDelete" asp-route-id=@r.Id><i class="bi bi-trash"></i></a>
               <a asp-controller="Recipe" Title="Add to my favourites" asp-action="Favourite" asp-route-id=@r.Id><i class ="btn-link glyphicon glyphicon-heart-empty"></i></a>
            </div>
      </div>
   </div>
}
</div>
            

