@model Recipe

<!-- View Page for Recipe Delete -->

<!-- Partial used for page layout -->
<partial name="_ViewLayouts" />   

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/user","Users"),
    ($"/user/details/{Model.UserId}",$"{Model.UserId}"),
    ("","Delete Recipe")
}) />

<!--Google Translate -->    
<partial name="_google" />

<h3 class="mt-4 navbar-title mb-4">Delete Recipe</h3>

<h4 class="mb-4">Are you sure you want to delete this Recipe?</h4>

<div>
    <div class="col card rounded shadow p-3">
        <dl class="row">       
            <dt class="col-5">Name</dt>
            <dd class="col-7">@Model.Name</dd>

            <dt class="col-5">Cuisine</dt>
            <dd class="col-7">@Model.Cuisine</dd>
            
            <dt class="col-5">Translation</dt>
            <dd class="col-7">@Model.Translator</dd>
            
        </dl>
    </div>

    <div class="mt-4">
        <form asp-action="RecipeDeleteConfirm" type="post">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Confirm" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-controller="Recipe" asp-action="Index" >Cancel</a>
        </form>
    </div>
    
</div>


<!-- Partial to display delete recipe modal -->
<partial name="_DeleteRecipeModal"/>
