@model UserRegisterViewModel

<h3 class="mt-4 mb-4">Create Account</h3>

<div class="card shadow rounded p-3">
    <form asp-action="Register" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mt-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Password" class="form-label"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="PasswordConfirm" class="form-label"></label>
            <input type="password" asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Role" class="form-label"></label>
            <!-- Html.GetEnumSelectList<T>() is used to create a select list from the enum type (T) passed as a type parameter -->
            <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()" class="form-control">                
                <option disabled selected>Select Role</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <input type="submit" value="Register" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
