@model UserRegisterViewModel

<!-- View page for Register a user -->

<!-- Partial used for page layout -->
<partial name="_ViewLayouts" />

 <partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Register")
}) />

<!--Google Translate -->    
<partial name="_google" />

<div class="card shadow p-4 mt-4">

    <h3 class="navbar-title mb-3">Register</h3>

    <form asp-action="Register" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"><i class="bi-person-fill"></i> Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Email" class="control-label"><i class="bi-envelope-fill"></i> Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col form-group mt-3">
                <label asp-for="Password" class="control-label"><i class="bi-shield-lock-fill"></i> Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col form-group mt-3">
                <label asp-for="PasswordConfirm" class="control-label">Password Confirm</label>
                <input type="password" asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>

            
        <div class="form-group mt-3">
            <label asp-for="Nationality" class="control-label"><i class="bi bi-globe2"></i> Nationality</label>
            <input type="Nationality" asp-for="Nationality" class="form-control" />
            <span asp-validation-for="Nationality" class="text-danger"></span>
        </div>


         <div class="form-group mt-3">
            <label asp-for="CookingExperience" class="form-label"></label>      
            <textarea rows="10" asp-for="CookingExperience" class="form-control"></textarea>       
        </div>

        <div class="form-group mt-3">
                <label asp-for="PhotoUrl" class="control-label"><i class="bi bi-camera2"></i> Photo</label>
                <input type="PhotoUrl" asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Register" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
