@model AboutViewModel
        
 <div class="card text-center shadow">
    <div class="card-header bg-warning">
        <h2>@Model.Title</h2>
    </div>
    <div class="card-body">
        <div class="card-body">
            <h5 class="card-title">Mission Statement</h5>
            <p><em>@Model.Message</em></p>
        </div>
        <div class="card-footer text-muted">
            <div>Formed on @Model.FormedString <cite title="Source Title">(@Model.Days days ago)</cite></div>
        </div>
    </div>
</div>
