@model AboutViewModel

<partial name= "_LayoutsHome" />

@* <partial name="_Breadcrumbs" model=@(new [] { ("", "Home") })> *@

 
<div class="image">
  @* <div class="overlay"> *@
<div class="navbar-title text-center">
 
    <h1>Welcome To The Good Food Atlas</h1> 
  
  @* <div class="card-body text-center">
    <h4 class="card-title">@Model.Message</h4>
      <div>
        <img src =https://tse3.explicit.bing.net/th?id=OIP.jTP5lcPDIEb0Sl0c0tDw8wHaHa&pid=Api&P=0 alt="world Spices">
      </div>
      <div> *@
        @* <p><b>This Web Application can be used to:</b></p>
          <ul style="list-style: none;">
            <li> - Display a list of Vehicles, its details and their MOT Records<i class="bi bi-truck ml-2"></i></i></li>
            <li>- Create, Edit or delete a Vehicle<i class="bi bi-pencil ml-2"></i></li>
            <li>- Add/delete an MOT Record <i class="bi bi-plus ml-2"></i></li>
            <li>- Search/Query Our Fleet of Vehicles</li>
          </ul> *@
</div>
@* <div>
        <a asp-controller="Vehicle" asp-action="Index" class="btn btn-lg btn-dark mt-4 mb-3">View All Recipes</a>
      </div> *@
    </div>
  
@* </div> *@


