<div class="text-center">
    @ViewBag.Message <b>@ViewBag.LongTime</b>
</div>

<div class="callout callout-info">
    <h1>Home Page</h1>
    <p>This is the default page displayed when the application loads</p>
    <p class="text-center"> Today is <b> @DateTime.Now.ToLongDateString() </b> </p>
</div>

<div asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) class="callout callout-warning text-center">
    Only visible when logged in
</div>
