@model AboutViewModel

<partial name= "_LayoutsHome" />

<partial name="_Breadcrumbs" model=@(new [] { ("", "Home") })>

<div class="image">
  <div class="navbar-title text-center">
     <h1>@Model.Title</h1> 
  </div>

  <div class="weatherwidget">
    <partial name="_Weather"/> 
</div>








