@model PrivacyViewModel

<!-- View for Privacy page-->

<partial name= "_LayoutsHome" />  

<partial name="_Breadcrumbs" model=@(new [] { ("", "Privacy") })>
 
 <!--Google Translate -->    
    <partial name="_google" />

<div class="card text-center">
    <div class="card-header navbar-title custom-body">
        <h2>@Model.Title</h2>
    </div>
    <div class="card-body">
        <h6 class="card-title"><i>@Model.Aim</i></h6>
    </div>
</div>


