@model PrivacyViewModel

<partial name= "_LayoutsHome" />  

<div class="card text-center">
    <div class="card-header custom-body">
        <h2>@Model.Title</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title"><i>@Model.Aim</i></h5>
    </div>
    <div class="card-footer text-muted">
        <div><i>Formed on @Model.FormedString</i></div>
    </div>
</div>


