

<button onclick="random()" class="btn btn-primary">Random Quote</button>

<button onclick="quotes()" class="btn btn-primary">Quotes</button>

<div id="quote" />

<script>
    function random() {
        fetch("https://fakeapi.amcc.repl.co/quotes/random")
        .then(response => response.json())
        .then(json => {
            const node = document.getElementById("quote");
            node.innerHTML = `<h3>${json.quote}</h3>       	 
                              <p>-- ${json.author} (${json.id})</p>`
        });
   }
   function quotes() {
        fetch("https://fakeapi.amcc.repl.co/quotes")
        .then(response => response.json())
        .then(json => {
            const node = document.getElementById("quote");
            const div = document.createElement("div");

            json.forEach(q => {
                const div = document.createElement("div");
                div.innerText = `${q.quote} -- ${q.author}`
                node.appendChild(div);
            })  
            node.appendChild(div);          
        });
   }
</script>