@model TicketSearchViewModel

<!-- search form -->
<form asp-controller="Ticket" asp-action="Index" class="d-flex flex-row align-items-center">
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="Range" value="@TicketRange.ALL">
        <label class="form-check-label" for="Range">All</label>
    </div>
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="Range" value="@TicketRange.CLOSED">
        <label class="form-check-label" for="Range">Closed</label>
    </div>
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="Range" value="@TicketRange.OPEN" >
        <label class="form-check-label" for="Range">Open</label>
    </div>

    <input class="form-control me-2" asp-for="Query" placeholder="Search..">
   
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>