@model Ticket

<!-- Breadcrumbs using partial view -->
<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/ticket", "Tickets"), ("","Close") })>
    
<div class="col card rounded shadow-lg p-4">

    <h3 class="mb-4">Ticket</h3>

    <div class="mt-3">
        <label asp-for="Id" class="form-label"></label>      
        <input readonly asp-for="Id" class="form-control" >
    </div>

    <div class="mt-3">
        <label asp-for="Issue" class="form-label"></label>      
        <textarea readonly rows="5" asp-for="Issue" class="form-control"></textarea>       
    </div>

    <div class="mt-3">
        <label asp-for="CreatedOn" class="form-label"></label>      
        <input readonly asp-for="CreatedOn" class="form-control" >               
    </div>
     
    <div class="mt-3">
        <label asp-for="Resolution" class="form-label"></label>      
        <textarea readonly rows="5" asp-for="Resolution" class="form-control"></textarea>
        <span asp-validation-for="Resolution" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="ResolvedOn" class="form-label"></label>      
        <input readonly asp-for="ResolvedOn" class="form-control" >               
    </div>

    <div class="mt-4">           
        <button asp-condition=@(User.HasOneOfRoles("admin,manager")) disabled="@(!Model.Active)" 
                data-bs-toggle="modal" data-bs-target="#closeTicketModal" class="btn btn-sm btn-danger">
            <i class="bi bi-trash mr-1"></i>Close
        </button>
        <a class="btn btn-link" asp-action="Index">Cancel</a>
    </div>

</div> 

<partial name="_CloseModal"/>
